:root {
    --primary-color: #eef0f3;
    --secondary-color: #646464;
    --extra-color: #f8f8f8;
    --text-color-dark: #252525;
    --text-color-faded: #444;
    --text-color-bright: white;
    --like-heart-color: #e74c3c;
    --alert-red-color: #da4637;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color-dark);
}

p {
    color: var(--text-color-faded);
}

.alert {
    pointer-events: none;
    animation: fadeout 2s forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar-brand img {
    height: 50px;
    width: auto;
    margin-left: 20px;
}

.bg-custom {
    background: var(--primary-color);
}

.navbar .navbar-nav .nav-link {
    color: var(--text-color-dark) !important;
    position: relative;
}

.navbar .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover::after {
    opacity: 0.3;
}

.navbar .navbar-brand {
    color: white !important;
    position: relative;
}

.navbar .navbar-brand::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navbar .navbar-brand:hover::after {
    opacity: 0.3;
    filter: brightness(1.2);
}

.nav-link.active {
    position: relative;
}

.nav-link.active::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.5px;
    background: linear-gradient(to right, transparent, var(--text-color-dark), transparent);
    transform: translateY(15px);
}

/* Makes the navbar stick to the top */
.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* High z-index to ensure it sits on top of other content */
}

/* Adds a frosted glass effect */
.sticky-navbar .navbar {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
}

fallback-bg {
    background-color: rgba(255, 255, 255, 0.98) !important;
}

.post {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.post-view {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.comment {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.comment-tools {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.post-tools {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.comment:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.like-btn {
    cursor: pointer;
    color: var(--secondary-color);
}

.like-btn.active {
    color: var(--like-heart-color)
}

.comment-info {
    color: var(--text-color-dark);
}

.c-small-btn {
    padding: 5px 10px;
    margin: 5px;
    font-size: 16px;
}

.p-small-btn{
    padding: 5px 10px;
    margin: 5px;
    font-size: 16px;
}

.delete-btn .fas {
    color: var(--secondary-color);
}

.delete-btn:hover {
    background-color: var(--extra-color)
}

.edit-btn .fas {
    color: var(--secondary-color);
}

.edit-btn:hover {
    background-color: var(--extra-color);
}
