<!-- home.html -->
{% extends 'base.html' %}

{% block content %}

<!-- Animation -->
<div class="container pt-5 d-flex justify-content-center align-items-center animation-container">
    <div class="hello-animation-container" style="width: 50%; filter: grayscale(1); margin-top: -150px">
        <div id="lottie-hello-animation"></div>
    </div>
</div>

<div style="margin-top: -80px">
    <h4 class="d-flex justify-content-center">
        ... and welcome to ctkonnekt
    </h4>
</div>

{% if current_user.is_authenticated %}
<div class="d-flex justify-content-center pt-2">
    <a class="px-2" href="{{ url_for('main.view_all') }}" style="text-decoration: none;">
        <button type="button" class="btn btn-outline-primary btn-lg">
            View Posts
        </button>
    </a>
</div>
{% else %}
<!-- Login and register buttons -->
<div class="d-flex justify-content-center pt-2">
    <a class="px-2" href="{{ url_for('main.register') }}" style="text-decoration: none;">
        <button type="button" class="btn btn-outline-primary btn-lg">
            Register
        </button>
    </a>

    <a class="px-2" href="{{ url_for('main.login') }}" style="text-decoration: none;">
        <button type="button" class="btn btn-outline-primary btn-lg">
            Login
        </button>
    </a>
</div>
{% endif %}

<h3 class="d-flex justify-content-center pt-5">
    My attempt at the IT-case for CTK
</h3>
<p class="d-flex justify-content-center">
    This web application is built using Python Flask, which I have utilized for both server-side logic and rendering the frontend. This enabled me to finish this project in the least amount of time, which was necessary given the short deadline of one week.
    Try out the authentication system and register a new account below, or log in using "ctk@ctkonnekt.se", "123456789".
</p>

{% endblock %}